input::-webkit-input-placeholder {
    color: #909090;
    font-size: .36rem;
    font-weight: 500;
}
#login{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/login_bg.png") top center no-repeat #000;
    background-size: 100% 100%;
    background-attachment:fixed;
    text-align: center;
}
#login .car_logo{
    font-size: 0;
    margin-top: 1.5rem;
}
#login .car_logo img{
    display: inline-block;
    margin: 0 auto;
    width: 1.2rem;
    height: 1.2rem;
}
#login .car_desc{
    color: rgb(206, 204, 204);
}
#login .car_desc p{
    word-wrap:break-word;
}
#login .car_desc p:nth-of-type(1){
    margin-top: 0.3rem;
    font-size: .28rem;
    font-weight: 700;
    color: rgb(226, 224, 224);
}
#login .car_desc p:nth-of-type(2){
    margin-top: 0.1rem;
    font-size: .18rem;
}
#login .user_login{
    width: 5.6rem;
    margin: 1.5rem auto 0;
    border-bottom: 1px solid #959595;
    position: relative;
}
#login .user_login .user_phone{
    width: 100%;
    height: 0.5rem;
    border: none;
    background: rgba(0,0,0,0);
    font-size: .36rem;
    color: #fff;
    margin-bottom: 0.05rem;
    letter-spacing: 2px;
    font-weight: 700;
}
#login .use_car_des p{
    margin-top: 0.2rem;
    font-size: .26rem;
    color: #fff;
}
#login .use_car_des a{
    color: #fff;
}
/* 登录按钮 */
.login_btn{
    margin:.7rem auto 0;
    width: 5.6rem;
    height: 1rem;
    border-radius: 0.2rem;
    line-height: 1rem;
    color: #707580;
    background: #3B434D;
    font-size: .36rem;
    box-shadow:0px 0px 20px rgba(255,255,255,0.3);
}
.login_btn:active{
    background: rgb(100, 98, 98);
    color: #b8b9bb;
}
/* 第三方登录 */
#login .otherLogin {
    margin-top: 2rem;
    width: 100%;
    background: rgba(0,0,0,0);
}
#login .otherLogin .otherWord{
    font-size: .24rem;
    color: #fff;
    text-align: center;
    position: relative;
}
#login .otherLogin span:nth-of-type(1){
    position: absolute;
    width: 2rem;
    height: 1px;
    left: 1rem;
    top: 0.2rem;
    background: #959595;
}
#login .otherLogin span:nth-of-type(3){
    position: absolute;
    width: 2rem;
    height: 1px;
    right: 1rem;
    top: 0.2rem;
    background: #959595;
}
#login .otherLogin .other_login_icon {
    margin-top: 0.35rem;
}
#login .otherLogin .other_login_icon li{
    display: inline-block;
    
    margin: 0 0.2rem;
}
#login .otherLogin .other_login_icon li img{
    width: 0.9rem;
    height: 0.9rem;
}
#login .otherLogin .other_login_icon li p{
    font-size: .24rem;
    color: #fff;
}

/* 微信授权按钮样式 */
	.oauth-area {
        margin:1rem auto;
		text-align: center;
		width: 100%;
		padding: 0px;
	}
		
	.oauth-area .oauth-btn {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-size: 30px 30px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0px 20px;
		/*-webkit-filter: grayscale(100%); */
		border: solid 1px #ddd;
		border-radius: 25px;
	}
	
	.oauth-area .oauth-btn:active {
		border: solid 1px #aaa;
	}
	
	.oauth-area .oauth-btn.disabled {
		background-color: #ddd;
	}