/* 密码弹框 */
	
#pay {
	background-color: rgba(255, 255, 255, .99);
	position: fixed;
	top: 2rem;
	height: 4.4rem;
	width: 5.8rem;
	margin-left: 0.85rem;
	text-align: center;
	display: flex;
	justify-content: center;
	border-radius:0.24rem;
	z-index: 999;
}

#pay .mui-popover-close {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: 5px;
}

#pay .title {
	display: inline-block;
	margin-top: 0.3rem;
	font-size: 0.35rem;
	margin-right: 1rem;
}

#pay img{
	margin-left: 0.41rem;
	margin-top: 0.2rem;
}

.title{
	color: #333333;
}

.type {
	margin-top: 0.5rem;
	color: #333333;
	font-size: 0.3rem;
	margin-bottom: 0.1rem;
}

.number {
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: #333333;
	font-size: 0.55rem;
}

.zfinput {
	opacity: 0;
	z-index: 2;
	position: relative;
	top: -50px;
}

.table {
	margin-top: 30px;
	display: inline-block;
	height: 40px;
	display: flex;
	justify-content: center;
}

.table>div { 
	text-align: center;
	line-height: 33px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(187, 187, 187, .99);
	border-right: none;
}

.table>div:last-child {
	border-right: 1px solid rgba(187, 187, 187, .99);
}

#pay input[type='number'] {
	width: 68%;
	margin: 0;
	padding: 0;
	height: 50px;
}

.blackpwd {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	opacity: 0;
}

/* 头部返回按钮 */
.titleReturnButton img{
	width: 0.22rem;
	height: 0.38rem;
	float: left;
	margin-top: 0.2rem;
	margin-left: 0.35rem;
}