<!-- 商品详情页 -->

<!-- 搜索后来这个页面 -->


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>my_setting</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/common.css">
		<script src="../js/rem_reset.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/view/seavhPage.css" />
		<link rel="stylesheet" type="text/css" href="../css/pages/cashMoney.css" />
		<!-- 引用外部css -->
		<link rel="stylesheet" type="text/css" href="../css/view/homePage.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />

		<!-- 密码弹框样式 -->
		<link rel="stylesheet" href="../css/view/detailsPasswordPopUp.css" />
		
		<style type="text/css">
			#addShop {
			   -padding-top: 0;
			}
		</style>
	</head>
	<body>

		<!-- 隐藏的头部标题 -->
		<div class="details_title">
			<i id="returnTopPage_detail"><img src="../image/returnButton.png"></i>
			<span>商品详情</span>
		</div>

		<!-- 中间滚动部分 -->
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!-- 返回按钮 -->
				<div class="returnPage" id="returnPage_id">
					<!-- <i class="fa fa-angle-left"></i> -->
					<img src="../image/home/returnPage.png" />
				</div>
				<!-- 分享按钮 -->
				<div class="fxTwo" id="fx_id">
					<!-- <i class="fa fa-share-alt"></i> -->
					<img src="../image/home/fx.png" />
				</div>
				<!-- 轮播图 -->
				<div class="lobotuTitleDetails">
					<div class="lunbo">
						<div class="mui-slider">
							<div class="mui-slider-group mui-slider-loop">

							</div>
							<div class="mui-slider-indicator" style="display: none;">
							</div>
						</div>
					</div>
				</div>

				<div id="countOne">
					<p class="spanOneClass">进口海外丹麦三文鱼500g</p>
					<p class="spanTwoClass">eat！大厨经典之作，复购最高。经不容错过</p>
					<div class="div_display margin_top4">
						<div class="spanThreeClass">0</div>
						<!-- <div class="spanThreeF div_backgroun_jb margin_left2">分享可赚<span id="grossMargin"></span> </div> -->
						<div class="fxzq_details" style="marring:0;">
							<span class="fxzq_span">赚</span>
							<span id="grossMargin">￥0</span>
						</div>
					</div>
					<div class="buttCla" id="buttCla_oneId">
						<div class="buttCla_one">规格：</div>
						<div id="buttCla_oneId_two">

						</div>
					</div>
				</div>

				<div id="ycd_id">
					<div id="ycd_id_one">
						<!--  style="height: 1rem;" -->
						<!-- <div>
							<span style="font-weight:bold;">保质期 &nbsp;&nbsp;&nbsp;</span>
							<span style="color: ##666666;">3天冷藏（建议收货当天食用）</span>
						</div> -->
						<!-- <div id="">
							<span style="font-weight:bold">储藏温度</span>
							<span style="color: ##666666;">0 C - 5 C</span>
						</div> -->
					</div>
				</div>

				<!-- 商品详情图 -->
				<div id="detailsImg">
					<div id="imgUrlD">

					</div>
					<div id="bottonCount">
						<span>
							以上图片仅供参考，请以收到实物为准
						</span>
					</div>
				</div>

			</div>
		</div>

		
		<div id="bottomNav" style="
		height: 1rem;
		width: 100%;
		position: fixed;
		bottom: 0;
		background-color: #FFFFFF;
		z-index: 999;
		">
			<div class="bottomNav_one shopCarGo">
				<!-- 购物车图标 -->
				<img class="shop_num_ioc-clsaa" src="../image/shopCard.png" style="width: 0.6rem;"/>
				<!-- 购物车显示数量标致 -->
				<div class="shop_num_ioc-clsaa" style="
				width: 0.5rem;
				height: 0.23rem;
				background: linear-gradient(to right, #FF342D, #FF5882);
				border-radius: 0.12rem;
				font-size: 0.24rem;
				position: absolute;
				left: 0.2rem;
				top: 0.3rem;
				text-align: center;
				line-height: 0.25rem;
				color: #FFFFFF;
				border:0" id="shopNumber">
					0
				</div>
			</div>
			<div id="addShop" style="line-height: 0.5rem;background: linear-gradient(to right, #FF342D, #FF5882)">加入购物车</div><!-- class="div_backgroun_jb" -->
		</div>

		<!-- 点击分享后的弹窗 -->
		<div class="bj_model_logistics">
			<div id="fenxiangId" class="fenxiangCla">
				<div style="border-bottom: solid 1px #D8D8D8;">
					<span style="margin-left: 1.2rem;">分享到</span>
					<!-- <i id="gb_id" class="fa fa-times"></i> -->
					<div id="gb_id" style="width: 0.5rem;height:1rem;float: right;margin-left: 0.2rem;">
						<img src="../colse.png" style="width: .3rem;height: .3rem;margin-top: .3rem;">
					</div>
				</div>
				<div class="div_display">
					<div class="margin_top5" style="margin-left: 2rem;" id="wxFX">
						<div class="">
							<img src="../image/wxf.png" style="width: 1rem;height: 1rem;">
						</div>
						<div class="font_size24 font_color33">
							微信
						</div>
					</div>
					<div class="margin_top5" style="margin-left: 1.5rem;" id="qqFX">
						<div class="">
							<img src="../image/qq.png" style="width: 1rem;height: 1rem;">
						</div>
						<div class="font_size24 font_color33 margin_top3">
							QQ
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="display: none;" id="pay" data-disable-auto-close='true' class="box mui-popover mui-popover-action mui-popover-middle">
			<div id="password_div" style="height: 1rem;width: 1rem;float: left;">
				<img src="../image/close.png" alt="" class="mui-popover-close" style="width: 0.37rem;height: 0.37rem;">
			</div>
			<p class="title">规则</p>
			<div id="countent_id">
				<p class="type">1. 打开任意支持返利的商品，分享商品二维码图片/链接给好友（或自己）邀请其购买。好友（或自己）使用该链接购买该商品且没有发生退款，分享者将获得一定比例的现金返利且支持提现。</p>
				<p class="type">2. 实物商品：订单支付完成后，分享者账户将增加一笔“未结算”，此时返利并未实际到账</p>
			</div>
		</div>

	</body>

	<script src="../js/jquery-1.11.2.min.js"></script>
	<script src="../js/mui.min.js"></script>
	<script src="../js/requestFun.js"></script>
	<script src="../js/commonFun.js" type="text/javascript"></script>

	<script>
		(function($, doc, $$) {
			$$.init();

			var _self;
			var shareImg;
			var shareName;
			if (window.plus) {
				plusReady();
			} else {
				doc.addEventListener('plusready', plusReady, false);
			}

			function plusReady() {
				plus.navigator.setFullscreen(false);
				//强制竖屏
				plus.screen.lockOrientation("portrait-primary");
				//强制隐藏滚动条
				plus.webview.currentWebview().setStyle({
					scrollIndicator: 'none'
				});
				_self = plus.webview.currentWebview();

				/* 分享提示框关闭*/
				mui('#pay').on('tap', '#password_div', function() {
					mui('#pay').popover('hide');
					$("#pay").css("display", "none");
				});

				/* 分享提示框打开*/
				/* $('.spanThreeF').on('tap',function() {
					$("#pay").css("display","block");
					mui('#pay').popover('show');
				}); */

				/* 传过来的商品数量，如果为空，加入购物车 灰色*/
				var shopNum = _self.shopNum;
				//alert(shopNum)
				if (shopNum == "0") {
					$("#addShop").removeAttr("style");
					$("#addShop").css("background-color", "#CBCBCB");
					$("#addShop").css("line-height", "0.5rem");
				}


				// _self.shopId = '1198857198152024066'
				// var shopId = _self.shopId;
				// console.log("我穿过来的商品id=="+shopId);
				/* 默认隐藏头部标题栏 */
				$(".details_title").css("display", "none");
				//->解决安卓手机无法滚动
				$$(".mui-scroll-wrapper").scroll({
					bounce: false, //滚动条是否有弹力默认是true
					indicators: true, //是否显示滚动条,默认是true
					deceleration: 0.0006 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
				});


				//监听滚动条高度,显示或者隐藏
				var scroll = $$('.mui-scroll-wrapper').scroll();
				doc.querySelector('.mui-scroll-wrapper').addEventListener('scroll', function(e) {

					if (scroll.y < -100) {
						$(".details_title").fadeIn(1000);
					}

					if (scroll.y > -10) {
						$(".details_title").fadeOut();
					}
				});
				// 获取商品详情
				console.log("222=" + _self.shopId);
				getImage(_self.shopId);
				var slider = mui("#slider");
				slider.slider({
					interval: 3000
				});
				// 获取商品详情
				function getImage(shopId) {
					getCommodityD(mui, shopId, function(data) {
						//console.log("111=="+data.data.grossMargin)
						if (data.code == 200) {
							if(data.data.grossMargin == 0){
								$(".fxzq_details").css("display","none");
							}
							shareImg = data.data.pictureUrlList[0]; //分享图片
							shareName = data.data.title;//分享产品名称
							$(".spanOneClass").text(data.data.goodsName) // 商品名称
							$(".spanTwoClass").text(data.data.title) //副标题
							$('.spanThreeClass').text("¥" + data.data.specification[0].price) //商品价格
							$('#grossMargin').text("¥" +data.data.grossMargin)
							_self.specification = data.data.specification
							// 规格处理
							var specif = document.createDocumentFragment();
							$.each(data.data.specification, function(index) {
								if (index == 0) {
									_self.specificationId = data.data.specification[index].id
									var specifLi = '<div data-id=' + data.data.specification[index].id +
										' class="buttCla_div buttCla_active" > ' + data.data.specification[
											index].NAME + '</div>';
								} else {
									var specifLi = '<div data-id=' + data.data.specification[index].id + ' class="buttCla_div"> ' + data.data
										.specification[index].NAME + '</div>';
								}
								$(specif).append(specifLi);
							});
							$("#buttCla_oneId_two").append($(specif));

							// 属性处理
							var property = document.createDocumentFragment();
							$("#ycd_id_one").css("height", data.data.length + "rem");
							$.each(data.data.propertyList, function(index) {
								var propertyLi = '<div class="margin_top2">' +
									'<span style="font-weight:bold">' + data.data.propertyList[index].pname + '</span>' +
									'<span style="color: ##666666;" class="phone" data-phone="' + data.data.propertyList[index].pvalue +
									'" data-id="' + data.data.propertyList[index].isPhone + '">' + data.data.propertyList[index].pvalue +
									'</span>' +
									'</div>';
								$(property).append(propertyLi);
							});
							$("#ycd_id_one").append($(property));
							// 详情轮播图
							if (data.data.pictureUrlList.length > 0) {
								var dataList = data.data.pictureUrlList;
								var length = dataList.length
								if (length == 1) {
									$('.mui-slider-group').append('<div class="mui-slider-item"><img class="lunbo-imgDetails" src="' + dataList[
											0] +
										'" /></div>');
								} else {
									$('.mui-slider-group').append(
										'<div class="mui-slider-item mui-slider-item-duplicate"><img class="lunbo-imgDetails" src="' + dataList[
											length - 1] +
										'" /></div>');
									$('.mui-slider-indicator').append('<div class="mui-indicator mui-active"></div>');
									for (var i = 0; i < length; i++) {
										$('.mui-slider-group').append('<div class="mui-slider-item"><img class="lunbo-imgDetails" src="' +
											dataList[
												i] +
											'" /></div>');
									}
									$('.mui-slider-group').append(
										'<div class="mui-slider-item mui-slider-item-duplicate"><img class="lunbo-imgDetails" src="' + dataList[0] +
										'" /></div>');
									for (var i = 0; i < length - 1; i++) {
										$('.mui-slider-indicator').append('<div class="mui-indicator"></div>');
									}
								}
								var gallery = mui('.mui-slider');
								gallery.slider({
									interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
								});

							} else {
								tipShow('详情轮播图为空');
							}
							// 详情图片
							var detailsImg = document.createDocumentFragment();
							$.each(data.data.detailsList, function(index) {
								var detailsImgLi = '<img src="' + data.data.detailsList[index] + '"/>';
								$(detailsImg).append(detailsImgLi);
							});
							$("#imgUrlD").append($(detailsImg));

						} else {
							tipShow(data.message);
							gotoLoginIn();
						}
					});

				};


				$('#ycd_id_one').on('tap', '.phone', function() {
					if ($(this).attr("data-id") == 1) {
						var phone = $(this).attr("data-phone");
						if (plus.os.name == "Android") {
							var btnArray = ['拨打', '取消'];
							// var phone = "18048334993";
							mui.confirm(phone, '提示', btnArray, function(e) {
								var Intent = plus.android.importClass("android.content.Intent");
								var Uri = plus.android.importClass("android.net.Uri");
								var main = plus.android.runtimeMainActivity();
								var uri = Uri.parse("tel:" + phone);
								var call = new Intent("android.intent.action.CALL", uri);
								main.startActivity(call);
							});
						} else {
							var UIAPP = plus.ios.importClass("UIApplication");
							var NSURL = plus.ios.importClass("NSURL");
							var app = UIAPP.sharedApplication();
							app.openURL(NSURL.URLWithString("tel://" + phone));
						}
					}
				})
				// 获取购物车数量
				getShoppingCart(mui, plus.storage.getItem('memberId'), function(data) {
					//console.log("111111111111=="+ JSON.stringify(data))
					if (data.code == 200) {
						if(data.data > 99){
							$('#shopNumber').text(data.data + '+')
						}else{
							$('#shopNumber').text(data.data)
						}
					} else {
						tipShow(data.message)
					}
				});
				// 去购物车
				$('.shopCarGo').on('tap', function() { // var ws = plus.webview.currentWebview();
					toIndex(2);
					/* $$.openWindow({
						url: '../index.html',
						id: 'index',
						extras: {
							pageId: 'shopCartPageTwo'
						},
						show: {
							aniShow: "slide-in-right"
						}
					}); */

					// plus.webview.close(ws);
					/* $$.openWindow({
						url: 'shopCartList.html',
						id: 'shopCartList',
						show: {
							aniShow: "slide-in-right"
						}
					}); */
				});

				// 添加购物车
				$('#addShop').on('tap', function() {
					var keyword = {
						goodsId: _self.shopId,
						pecificationId: _self.specificationId,
						userId: plus.storage.getItem('memberId')
					}
					addShoppingCart(mui, keyword, function(data) {
						if (data.code == 200) {
							var totalNum = parseInt($("#shopNumber").text());
							totalNum++
							$('#shopNumber').text(totalNum + '+')
						} else {
							tipShow(data.message)
						}
					});

				})

				var returnPage_id = doc.getElementById("returnPage_id");
				returnPage_id.onclick = function() {
					mui.currentWebview.close();
				}
				//分享操作
				$('#fx_id').on("tap", function() {
					$(".bj_model_logistics").css('display', 'block')
				})
				/* 点击分享按钮事件 */
				$("#gb_id").on("tap", function() {
					$(".bj_model_logistics").css('display', 'none')
					//$(".fenxiangCla").css("display", "none");
				})
				var shares = {};
				plus.share.getServices(function(s) {
					if (s && s.length > 0) {
						for (var i = 0; i < s.length; i++) {
							var t = s[i];
							shares[t.id] = t;
						}
					}
				}, function() {
					// console.log("获取分享服务列表失败");
				});
				userId = plus.storage.getItem('memberId');
				shareKeyword = {
					userId: plus.storage.getItem('memberId'),
					productId: _self.shopId
				}
				/* 点击分享按钮事件 微信*/
				$("#wxFX").on("tap", function() {
					if (plus.runtime.isApplicationExist({
							pname: 'com.tencent.mm',
							action: 'weixin://'
						})) {
						console.log("微信应用已安装");
					} else {
						$$.toast("微信应用未安装");
						setTimeout(function() {
							toCurrentPage();
						}, 1500);
						return false;
					}
					var shareJson = {
						"title": "笑容商城",
						"desc": shareName,
						"img":shareImg
					};
					var lineEndId = ['lineEnd'];
					var ids = [{
						id: "weixin",
						ex: "WXSceneSession"
					}, {
						id: "weixin",
						ex: "WXSceneTimeline"
					}];
					var i = 1
					if (i > 0) {
						var s_id = ids[i - 1].id;
						var share = shares[s_id];
						if (share) {
							if (share.authenticated) {
								shareMessage(share, ids[i - 1].ex, shareJson, shareKeyword, lineEndId);
								mui.fire(plus.webview.getWebviewById("index.html"));
								setTimeout(function() {
									toCurrentPage();
								}, 5000);
							} else {
								share.authorize(function() {
									shareMessage(share, ids[i - 1].ex, shareJson, shareKeyword, lineEndId);
									mui.fire(plus.webview.getWebviewById("index.html"));
									setTimeout(function() {
										toCurrentPage();
									}, 5000);
								}, function(e) {
									console.log("认证授权失败：" + e.code + " - " + e.message);
								});
							}
						} else {
							$$.toast("分享失败，请重试");
						}
					}
					// shareMessage(share,'WXSceneSession', shareJson, plus.storage.getItem('memberId'), lineEndId);
					// 	bts = [{
					// 		title: "发送给微信好友"
					// 	}, {
					// 		title: "分享到微信朋友圈"
					// 	}];
					// plus.nativeUI.actionSheet({
					// 	cancel: "取消",
					// 	buttons: bts
					// }, function(e) {
					// 	alert(JSON.stringify(e))
					// 	var i = e.index;
					// 	if (i > 0) {
					// 		var s_id = ids[i - 1].id;
					// 		var share = shares[s_id];
					// 		if (share) {
					// 			if (share.authenticated) {
					// 				shareMessage(share, ids[i - 1].ex, shareJson, userId, lineEndId);
					// 				mui.fire(plus.webview.getWebviewById("userIndex.html"), "menu:close");
					// 				setTimeout(function() {
					// 					toCurrentPage();
					// 				}, 5000);
					// 			} else {
					// 				share.authorize(function() {
					// 					shareMessage(share, ids[i - 1].ex, shareJson, userId, lineEndId);
					// 					mui.fire(plus.webview.getWebviewById("userIndex.html"), "menu:close");
					// 					setTimeout(function() {
					// 						toCurrentPage();
					// 					}, 5000);
					// 				}, function(e) {
					// 					console.log("认证授权失败：" + e.code + " - " + e.message);
					// 				});
					// 			}
					// 		} else {
					// 			$$.toast("分享失败，请重试");
					// 		}
					// 	}
					// });

					// $(".fenxiangCla").css("display", "block");
				});
				// qq 分享
				// 分享
				function share(srv, msg, button) {
					console.log('分享操作：');
					if (!srv) {
						outLine('无效的分享服务！');
						return;
					}
					button && (msg.extra = button.extra);
					// 发送分享
					if (srv.authenticated) {
						console.log('---已授权---');
						doShare(srv, msg);
					} else {
						console.log('---未授权---');
						srv.authorize(function() {
							doShare(srv, msg);
						}, function(e) {
							tipShow('认证授权失败：' + JSON.stringify(e));
						});
					}
				}
				// 发送分享
				function doShare(srv, msg) {
					console.log(JSON.stringify(msg));
					srv.send(msg, function() {
						tipShow('分享到"' + srv.description + '"成功！');
					}, function(e) {
						tipShow('分享到"' + srv.description + '"失败: ' + JSON.stringify(e));
					});
				}

				$("#qqFX").on("tap", function() {
					
		
					sqq = shares['qq'];
					var msg = {
						type: 'text'
					};
					if (false) {
						plus.nativeUI.alert('请输入要分享的内容!');
						return;
					}
					msg.title = '微信期待您的加入';
					msg.thumbs = ['../image/qq.png'];
					msg.pictures = ['../image/qq.png'];
					msg.href = requserUrlQQ;
					sqq ? share(sqq, msg) : plus.nativeUI.alert('当前环境不支持QQ分享操作!');
				});


				/* 规格选项卡点击转换样式 */
				//var buttCla_oneId_two = doc.getElementById("buttCla_oneId_two");
				$("#buttCla_oneId_two").on('tap', '.buttCla_div', function() {
					_self.specificationId = $(this).attr("data-id")
					$.each(_self.specification, function(index) {
						if (_self.specification[index].id == _self.specificationId) {
							$('.spanThreeClass').text("¥" + _self.specification[index].price) //商品价格
						}
					});
					if ($(this).hasClass("buttCla_active")) {
						return
					} else {
						$(this).addClass("buttCla_active").siblings().removeClass("buttCla_active");
					}
					// var info = $(this).html();
					// console.log("我是点击的选项卡" + info);
					// $(this).addClass("buttCla_active").siblings().removeClass("buttCla_active");
				})
				/* 返回上一页 */
				var returnTopPage_detail = doc.getElementById("returnTopPage_detail");
				returnTopPage_detail.onclick = function() {
					mui.back();
				}

			}
		})(jQuery, document, mui);
	</script>

</html>
