<!-- 搜索 -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>my_setting</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/common.css">
		<script src="../js/rem_reset.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/view/seavhPage.css" />
	</head>
	<body>
		<div style="height: 10px;"></div>

		<form action="">
			<div id="titleAge">
				<i class="fa fa-search"></i>
				<input id="search" type="search" placeholder="请输入要找的商品名称" style="background-color: #FFFFFF;" />
				<span id="qvx">取消</span>
			</div>
		</form>

		<!-- 	<div id="hotSearch">
			<div><span>热门搜索</span></span></div>
			<div id="ioc_one">笑容</div>
		</div> -->
		<div class="margin_left4 margin_top2 titleName">
			热门搜索
		</div>
		<div class="margin_left4" id="hotList">
			<!-- <div class="seavhBtn" id="ioc_one">
				笑容
			</div> -->
		</div>

		<div class="div_display">
			<div class="font_size28 font_color00 margin_left4 margin_top2 titleName">
				历史搜索
			</div>
			<div class="margin_top2" style="margin-left:5.3rem;" id="trash_id">
				<img src="../image/delect.png" style="width: .26rem;height: .35rem;">
			</div>
		</div>
		<div class="margin_left4" id="historyList">

		</div>
	</body>
	<script src="../js/jquery-1.11.2.min.js"></script>
	<script src="../js/mui.min.js"></script>
	<script src="../js/requestFun.js"></script>
	<script src="../js/commonFun.js" type="text/javascript"></script>

	<script>
		(function($, doc, $$) {
			$$.init();
			var _self;
			if (window.plus) {
				plusReady();
			} else {
				doc.addEventListener('plusready', plusReady, false);
			}


			function plusReady() {
				plus.navigator.setFullscreen(false);
				//强制竖屏
				plus.screen.lockOrientation("portrait-primary");
				//强制隐藏滚动条
				plus.webview.currentWebview().setStyle({
					scrollIndicator: 'none'
				});
				_self = plus.webview.currentWebview();
				if(_self.goodsName){
					alert("在这里搜索内容="+_self.goodsName)
				}

				/* 监听键盘搜索按钮 */
				doc.getElementById("search").addEventListener("keypress", function(event) {
					if (event.keyCode == "13") {
						var toSearchCount = doc.getElementById("search").value.replace(/\s*/g, "");
						doc.activeElement.blur(); //收起虚拟键盘
						toSearch(toSearchCount); //TODO 完成搜索事件
						event.preventDefault(); // 阻止默认事件---阻止页面刷新
					}
				});

				// 查询历史搜索列表
				getSearchList(mui, plus.storage.getItem('memberId'), function(data) {
					var getHistoryList = document.createDocumentFragment();
					if(data.data){
						//alert("11=="+data.data)
						if (data.data.length > 0) {
							$.each(data.data, function(items) {
								var list = '<div class="seavhBtn">' +
									data.data[items] +
									'</div>';
								$(getHistoryList).append(list);
							});
							$('#historyList').append(getHistoryList)
						} else {
							$('#historyList').css("display","none");
							$('.div_display').css("display","none");
							tipShow(data.message)
						}
					}
				});
				$('#historyList').on('tap','.seavhBtn',function(){
					toSearch($(this).text())
				})

				// 热门搜索查询
				getTopList(mui, plus.storage.getItem('memberId'), function(data) {
					var getHotList = document.createDocumentFragment();
					if(data.data){
						if (data.data.length > 0) {
							$.each(data.data, function(items) {
								var list = '<div class="seavhBtn">' +
									data.data[items] +
									'</div>';
								$(getHotList).append(list);
							});
							$('#hotList').append(getHotList)
						} else {
							tipShow(data.message)
						}
					}
				});
				$('#hotList').on('tap','.seavhBtn',function(){
					toSearch($(this).text())
				})
				/* 删除历史搜索 */
				$("#trash_id").on("tap", function() {
					var deleteAddressSaveWati = plus.nativeUI.showWaiting("删除中...");
					getSearchDelete(mui, plus.storage.getItem('memberId'), function(data) {
						deleteAddressSaveWati.close();
						if (data.code == 200) {
							tipShow('删除成功')
							plus.webview.getWebviewById('searchPage').reload()
						}
					});
				})

				/* 去搜索页 */
				// var ioc_one = doc.getElementById('ioc_one');
				// ioc_one.onclick = function() {
				// 	$$.openWindow({
				// 		url: 'searchPageValue.html',
				// 		id: 'searchPageValue',
				// 		extras: {
				// 			"ioc_one": this.innerText
				// 		},
				// 		show: {
				// 			aniShow: "slide-in-right"
				// 		}
				// 	});
				// };

				/* var ioc_oneTwo = doc.getElementById('ioc_oneTwo');
				ioc_oneTwo.onclick = function(){
				
					
				}; */

				/**
				 * 搜索跳页面
				 * 
				 * toSearchCount 搜索内容 商品名称
				 * **/
				function toSearch(toSearchCount) {
					if(!toSearchCount){
						tipShow("请输入正确的内容")
					}else{
						$$.openWindow({
							url: 'searchPageValue.html',
							id: 'searchPageValue',
							extras: {
								"ioc_one": toSearchCount
							},
							show: {
								aniShow: "slide-in-right"
							}
						});
					}
				}


				var qvx = doc.getElementById("qvx");
				qvx.onclick = function() {
					mui.currentWebview.close();
				}


			}
		})(jQuery, document, mui);
	</script>

</html>
