.ipt-style {
	display: flex;
	align-items: center;
	padding: 0.18rem 0;
	-margin: 0 auto;
	margin-left: 0.3rem;
}

.ipt-style input {
	font-size: .28rem;
	color: #BDBDBD;
	border: none;
	margin: 0;
	width: 4rem;
}

.bind_btn {
	margin-top: 1.2rem;
	width: 80%;
	border: 1px solid #D7D7D7;
	text-align: center;
	color: #FFFFFF;
	font-size: .32rem;
	background-color: #D7D7D7;
	height: .9rem;
	border-radius: .45rem;
	line-height: 2.5;
	margin-left: .3rem;
}

.bind_title {
	padding-top: .6rem;
	font-size: .56rem;
	color: #000000;
}

.bindPhone_phone {
	border-bottom: 1px solid #919190;
	width: 80%;
	margin-top: 1.5rem;
}

.bindPhone_code {
	border-bottom: 1px solid #919190;
	width: 80%;
	-margin-top: .7rem;
}
.bindPhone_I{
	width: .24rem;height: .35rem;
}

/* ------------------新版绑定手机号------------- */
#login .returnKey {
    width: 0.5rem;
    height: 0.5rem;
    position: fixed;
    left: 0.6rem;
    top: .5rem;
    border-radius: 0;
    background: 0;
    font-size: 0;
}

#login {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url("../../image/loginbg.png") top center no-repeat #F6F7F4;
	background-size: 110% 100%;
	background-attachment: fixed;
	-text-align: center;
}

.bindPhone_phone img,
.bindPhone_code img{
	width: 0.3rem;
	height: 0.43rem;
	float: left;
	margin-top: 0.2rem;
}

.bindPhone_phone input,
.bindPhone_code input{
	color: #FFFFFF;
	font-size: 0.36rem;
	position: relative;
	bottom: 1px;
	background: rgba(0, 0, 0, 0);
	margin-top: 0.2rem;
}