/* 我的余额 */

.cashMoney{
	margin-top: 1rem;
	height: 2rem;
}

.cashMoney div:nth-child(1){
	width: 35%;
	height: 2.3rem;
	float: left;
	text-align: center;
}

.cashMoney div:nth-child(1) h5{
	margin-top: .62rem;
	color: #000000;
}

.cashMoney div:nth-child(1) h4{
	margin-top: .3rem;
	color: #9B9B9B;
}

.cashMoney div:nth-child(2){
	text-align: right;
	margin-right: .6rem;
	line-height: 2.3rem;
	font-size: 0.27rem;
	color: #9B9B9B;
}
#titleList{
	background-color: #FFFFFF;
	padding: 10px 10px;
}

/* 选择按钮样式 */
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color:#0C0C0C;
	font-size: .34rem;
	/* border-bottom: solid 2px #404040; */
}

/* 未选择按钮样式 */
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
	color: #000000;
	font-size: .28rem;
}


/* 结束 */

.product_moudel {
	width: 7.1rem;
	/* border: 1px solid #CBCBCB; */
	box-shadow: 0px 0px 1px 1px #CBCBCB;
	margin-left: .2rem;
	margin-top: .2rem;
	height: 3rem;
	border-radius: .2rem;
}

.product_border {
	border-bottom: 1px solid #E9E9E9;
	padding-bottom: .17rem;
}

.product_moudel_title {
	width: .9rem;
	height: .7rem;
	overflow: hidden;
	margin-left: .22rem;
	margin-top: .17rem;
}

.product_imgList_left {
	width: 6.5rem;
	overflow: hidden;
}

.product_imgList_right {
	width: 1rem;
	margin-top: .9rem;
	margin-left: .2rem;
}

.product_img_w {
	width: 1.2rem;
	height: 1.2rem;
	overflow: hidden;
	margin-left: .2rem;
	margin-top: .3rem;
	border: 1px solid red;
}


.img_w_m {
	/* width: 1.2rem; */
	margin-top: .1rem;
	margin-left: .4rem;
}

.product_number {
	width: .47rem;
	height: .24rem;
	border-radius: .2rem;
	border: 1px solid #F42300;
	color: #F42300;
	font-size: .2rem;
	text-align: center;
	line-height: 1;
	position: absolute;
	margin-left: 1.2rem;
	margin-top: .2rem;
}
.product_img_wd {
	width: 1.4rem;
	height: 1.4rem;
	overflow: hidden;
	margin-left: .3rem;
	margin-top: .3rem;
	border: 1px solid red;
}
.product_imgList_leftd {
	
}
.product_imgList_rightd{
	width: 4rem;
	margin-left: .5rem;
	margin-top: .4rem;
}
.product_rightd_number{
	margin-top: .8rem;
}
/* 弹窗 */
.order_change_model{
	width: 6rem;
	height: 4.2rem;
	background: #FFFFFF;
	position: fixed;
	top: 3rem;
	left: .9rem;
	z-index:999999;
	border-radius: 0.1rem;
	box-sizing: border-box;
	padding: .5rem 0 .5rem 0;
	margin:0 auto;
	
}
.orderChange_moudel {
	border-bottom: 1px solid #CBCBCB;
	height: 2rem;
	text-align: center;
}

.orderChange_moudel_btn{
	height: 1.3rem;
}
.orderChange_moudel_btn div{
	height: .7rem;
	width: 2rem;
	text-align: center;
	border-radius: .3rem;
	border: 1px solid #0C1934;
	line-height: 2;
	margin-top: .3rem;
	margin-left: .7rem;
}


/* 订单详情 */
.details_moudel{
	width: 7.1rem;
	margin-left: .2rem;
}
.order_details_title{
	height: 1.5rem;
	padding-left: .4rem;
	padding-top: .3rem;
}
.details_name{
	margin-left: .3rem;
	margin-top: .8rem;
	font-size: .32rem;
	color: #333333;
}
.details_address{
	margin-top: .2rem;
	box-shadow: 0px 0px 5px 2px #C9C9C9;
	border-radius: .1rem;
}
.details_operation{
	height: 5rem;
	margin-top: .2rem;
	padding-left: .3rem;
	border: 1px solid #E9E9E9;
	border-radius: .1rem;
	
}
.details_operation_top{
	height: 2rem;
	margin-top: .3rem;
	border-bottom: 1px dashed #D0D0D0;
	width: 6.5rem;
}

.details_operation_bottom{
	height: 1.5rem;
	margin-top: .3rem;
	border-bottom: 1px dashed #D0D0D0;
	width: 6.5rem;
}
.details_btn{
	width:1.6rem;
	height: .5rem;
	border-radius: .3rem;
	border: 1px solid #F42300;
	float: right;
	margin-bottom: .3rem;
}
