.header_top {
	height: 6rem;
	background-color: #e8e3e37a;
}

.imgBground {
	width: 100%;
	height: 98%;
	filter: blur(5px)contrast(90%)brightness(60%);
	--webkit-filter: blur(5px)contrast(90%)brightness(60%);
}

.header_img {
	display: flex;
	padding-top: .35rem;
}

.header_img_border {
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 3rem;
	margin-top: .6rem;
	border: 2px solid #FFFFFF;
}

.header_img_width {
	width: 100%;
}

.header_img_font {
	font-size: .4rem;
	color: #FFFFFF;
	text-align: center;
	margin-top: .2rem;
	margin-left: .8rem;
}

.whether_name {
	width: 1.5rem;
	height: .4rem;
	line-height: 0.38rem;
	border: 1px solid #FFFFFF;
	border-radius: .2rem;
	font-size: .24rem;
	color: #FFFFFF;
	text-align: center;
	margin-left: 3rem;
	margin-top: .3rem;
}

.whether_name_border {
	width: 6rem;
	border-top: 1px dashed hsla(0,0%,80%,.46);
	margin-left: .7rem;
	margin-top: .3rem;
}

.header_code {
	font-size: .2rem;
	color: #FFFFFF;
	margin-left: 3.8rem;
}

.code_img_size {
	width: .4rem;
	height: .4rem;
}

/* 我的余额 */
.header_money {
	margin-top: .2rem;
	color: #FFFFFF;
	font-size: .4rem;
}

.header_money div {
	width: 3.5rem;
	text-align: center;
	padding-left: .5rem;
	float: left;
}

#goIntegral {
	margin-left: -.7rem;
}

.header_money_font {
	font-size: .36rem;
	color: #FFFFFF;
}

.header_money_font div {
	width: 3.5rem;
	text-align: center;
	float: left;
	margin-top: .2rem;
}

.personal_order_frame {
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	float: left;
	margin-left: 2%;
	margin-top: .6rem;
	width: 95%;
	box-shadow: 1px 1px 4px #C9C9C9;
}

.order_frame_title {
	border-bottom: 1px solid #E9E9E9;
	width: 90%;
	margin-left: 3%;
	padding-top: .3rem;
	display: flex;
	padding-bottom: .3rem;
}

/* 我的订单 */
.order_title {
	width: 1.3rem;
	float: left;
	margin-left: .3rem;
}

.title_left {
	background: linear-gradient(to right, #FF342D, #FF5882);
	width: .1rem;
	height: .3rem;
	border-radius: .1rem;
	margin-top: .07rem;
}

.order_title_font {
	width: 3rem;
	text-align: left;
	font-size: .28rem;
	color: #333333;
	margin-left: .1rem;
}

.order_title_right {
	width: 3rem;
	text-align: right;
	font-size: .28rem;
	color: #999999;
	margin-left: 4%;
}

.order_frame_img {
	width: .41rem;
	height: .41rem;
	float: left;
	margin-left: .65rem;
	margin-right: .5rem;
}


.order_frame_font {
	width: .74rem;
	float: left;
	margin-left: .5rem;
	margin-right: .5rem;
	font-size: .24rem;
	margin-top: .2rem;
}

/* 结束 */
.recomment_btn {
	width: 7.1rem;
	height: 1.5rem;
	float: left;
	box-shadow: 1px 1px 5px #C9C9C9;
	margin-top: .35rem;
	border-radius: .22rem;
	text-align: center;
	margin-left: .2rem;
}

.service_title {
	display: flex;
	border-bottom: 1px solid #E9E9E9;
	width: 90%;
	margin-left: 3%;
	padding-top: .3rem;
	padding-bottom: .3rem;
}

.service_title_content {
	border: 1px solid #E9E9E9;
	border-radius: 8px;
	float: left;
	margin-left: .2rem;
	margin-top: .6rem;
	width: 7.1rem;
	box-shadow: 1px 1px 4px #C9C9C9;
	margin-bottom: .3rem;
}

.service_font {
	width: 3rem;
	text-align: left;
	font-size: .28rem;
	color: #333333;
}

/* 我的服务 */
.service_img {
	width: .5rem;
	height: .5rem;
	/* background-color: #C9C9C9; */
	float: left;
	margin-left: .66rem;
	margin-top: .5rem;
	/* overflow: hidden; */
}

.service_img_font {
	width: 1rem;
	float: left;
	margin-left: .4rem;
	margin-top: .1rem;
	text-align: center;
	font-size: .24rem;
	padding-bottom: .5rem;
}

.service_mouder {
	width: 1rem;
	float: left;
	margin-left: .2rem;
}

/* 我的钱包 */
.cashMoney {
	margin-top: .37rem;
	margin-left: .8rem;
	color: #9B9B9B;
	font-size: .24rem;
}

/* 标题 */
.header_title_leftT {
	width: .15rem;
	height: .15rem;
	border-radius: 50%;
	left: .3rem;
	top: .2rem;
	position: absolute;
}
.header_title_leftI {
	width: .38rem;
	height: .38rem;
	margin-left: .4rem;
	margin-top: .3rem;
}


/* 蒙蔽 */
.mengban_class{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0); /* 透明*/
	position: fixed;
	top: 0;
	z-index: 999;
	
}